/* Header */

.searchbar {
    border: 2px solid var(--secondery_color);
    border-radius: 8px;
    padding: 7.5px min(150px, 22vw) 7.5px 15px;
    /* TOP RIGHT BOTTOM LEFT */
    position: absolute;
    top: 25px;
    left: 25vw;
}

.searchbar:hover {
    box-shadow: 5px 5px 30px var(--secondery_color);
    transition-property: box-shadow;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

/* Bubbles */

.buuble-container {
    position: absolute;
    top: 100px;
    left: 25vw;
}

.bubble {
    display: inline-block;
    color: var(--text_color);
    margin-top: 20px;
    margin-right: 15px;
    padding: 8px;
    border: 2px solid var(--secondery_color);
    border-radius: 8px;
}

.bubble:hover {
    cursor: pointer;
    color: var(--primary_color);
    background-color: var(--secondery_color);
    box-shadow: 5px 5px 30px var(--secondery_color);
    transition-property: box-shadow;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}


/* Cards */


.cards-container-parent {
    position: absolute;
    left: 25vw;
    top: 200px;
}

.cards_container {
    display: flex;
    width: 100vw;
    justify-content: center;
    flex-wrap: wrap;
    animation: appear 1s 1;
}

.projects_card {
    user-select: text;
    margin: 15px;
    border: 2px solid var(--secondery_color);
    display: inline-block;
    width: 250px;
}

.projects_card:hover {
    box-shadow: 5px 5px 30px var(--secondery_color);
    transition-property: box-shadow;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.projects_card>img {
    width: 250px;
    height: 250px;
}

.projects_card>img:hover {
    cursor: pointer
}

.projects_card h3 {
    color: var(--text_color);
    font-family: "Ubuntu Mono", monospace;
    font-weight: 700;
    font-style: normal;
    text-align: left;
    margin-left: 10px;
}

.projects_card p {
    color: var(--text_color);
    text-align: left;
    margin-left: 10px;
}

.card_btn {
    margin: 10px;
    text-align: center;
}

.card_btn:first-child {
    margin-left: 3px;
}

.card_btn button {
    padding: 20px;
    background-color: white;
    color: var(--primary_color);
    border: 2px solid var(--secondery_color);
    border-radius: 50%;
}

.card_btn button:hover {
    cursor: pointer;
    background-color: var(--secondery_color);
    color: var(--primary_color);
    transition-property: color background-color;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.card_btn button img {
    width: 25px;
}

@media only screen and (max-width : 1155px) {
    .cards-container-parent {
        top: 250px;
    }
}
@media only screen and (max-width : 600px) {
    .cards-container-parent {
        top: 300px;
    }
}
@media only screen and (max-width : 410px) {
    .cards-container-parent {
        top: 350px;
    }
}
@media only screen and (max-width : 382px) {
    .cards-container-parent {
        top: 420px;
    }
}
@media only screen and (max-width : 343px) {
    .cards-container-parent {
        top: 490px;
    }
}
@media only screen and (max-width : 218px) {
    .cards-container-parent {
        top: 570px;
    }
}
@media only screen and (max-width : 196px) {
    .cards-container-parent {
        top: 675px;
    }
}
@media only screen and (max-width : 153px) {
    .cards-container-parent {
        top: 755px;
    }
}