.explore-cards-container {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    left: 25vw;
}

.explore-card {
    user-select: text;
    margin: 25px;
    border: 2px solid var(--secondery_color);
    display: inline-block;
    width: 300px;
    height: 600px;
}

.explore-card:hover {
    box-shadow: 5px 5px 30px var(--secondery_color);
    transition-property: box-shadow;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.explore-card>img {
    width: 400px;
}

.explore-card>img:hover {
    cursor: pointer
}

.explore-card h3 {
    color: var(--text_color);
    text-align: left;
    margin-left: 10px;
}

.explore-card p {
    margin-top: 25px;
    color: var(--text_color);
    text-align: left;
    margin-left: 10px;
}

.explore-card-btn {
    margin: 10px;
    text-align: center;
}

.explore-card-btn button {
    padding: 20px;
    color: var(--text_color);
    border: 2px solid var(--secondery_color);
    border-radius: 8px;
}

.explore-card-btn button:hover {
    cursor: pointer;
    background-color: var(--secondery_color);
    color: var(--primary_color);
    transition-property: color background-color;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}