.playbar {
    width: 100%;
    height: 65px;
    position: fixed;
    bottom: 0px;
    cursor: pointer;
    color: var(--primary_color);
    background-color: var(--secondery_color);
    box-shadow: 5px 5px 30px var(--secondery_color);
    transition-property: box-shadow;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    display: flex;
    justify-content: center;
    z-index: 1;
}


.control-btn {
    padding: 10px;
    background-color: white;
    color: var(--primary_color);
    border: 2px solid var(--primary_color);
    border-radius: 50%;
    margin-left: 10px;
}

.control-btn:first-child {
    margin-left: 0px;
}

.control-btn:hover {
    filter: invert(1);
    cursor: pointer;
    background-color: white;
    color: var(--primary_color);
    transition-property: color background-color;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.control-btn img {
    width: 40px;
}